/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
/* styles.css */

body {

  font-family: 'Roboto', sans-serif;
}


.container {
  display: flex;
  justify-content: space-between;
}

.form-container {
  width: 35vw;
  padding-right: 20px;
}

.results-container {
  min-width: 65vw;
  max-width: 67vw;
  overflow-y: auto;
  margin: 0px 3rem;
}

#loading {
  display: none;
  margin-top: 20px;
  font-style: italic;
}

#noReports {
  display: none;
  color: red;
  margin-top: 20px;
}

#reportsList {
  padding: 0;
}

button {
  margin-right: 10px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}



h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #333;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
}

input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

button {
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-weight: bold;
}

button.bg-blue-500 {
  background-color: #3490dc;
  color: #fff;
}

button.bg-green-500 {
  background-color: #38c172;
  color: #fff;
}

button.bg-red-500 {
  background-color: #e3342f;
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 1.5rem;
}

li hr {
  border-color: #ccc;
}

#reportsList {
  max-height: 100vh;
  overflow-y: auto;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Add more styles as needed */
body {
  overflow: hidden;
}

/* Custom styles for the search button */
.search-button {
  background-color: #2198e8;
  /* Blue background color */
  color: #fff;
  /* White text color */
  padding: 20px 20px;
  /* Adjust padding as needed */
  border: none;
  border-radius: 8px;
  /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* Smooth transition for background color */
  /* Optional: Add box shadow for a lifted effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  /* Optional: Add hover effect */
  &:hover {
    background-color: #2980b9;
    /* Darker blue on hover */
  }

  /* Optional: Add icon styling */
  i {
    margin-right: 5px;
    /* Adjust spacing between button text and icon */
  }
}

.total-results {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.total-results i {
  margin-right: 8px;
}

.number-of-results {
  font-weight: bold;
  margin-left: 4px;
}
/* Add this style to your existing CSS */
#noSearchMessage {
  font-size: 1.5rem;
  color: #555;
  background: #eee;
  padding: 2rem;
  text-align: center;
  /* animation: fadeInOut 1.5s infinite; */
  position: absolute;
  top: 10%;
  margin-left: -5rem;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: .5;
  }
  50% {
    opacity: 1;
  }
}
